Repository ansible-collections/cisco.nxos, pull requests merged in 2024-04, with the labels that each got.

#847 [CML] Revert changes and refactor code
  .github/workflows/integretion.yml
  .github/workflows/integretion_utils.yml
  tests/sanity/ignore-2.18.txt
Labels: skip-changelog, safe to test

#848 Add support for cli_restore functionality provided with in netcommon …
  changelogs/add_restore_support.yaml
  galaxy.yml
  plugins/cliconf/nxos.py
Labels: skip-changelog, safe to test, major

#849 CML LAB unique name
  .github/workflows/integration-test.yml
  tests/integration/labs/single.yaml
Labels: safe to test

#852 Trivial changes
  changelogs/fragments/add_restore_support.yaml
  changelogs/fragments/trivial.yaml
Labels: safe to test

#854 correctly parse JSON when multiple IPv6 addresses are present
  .github/workflows/integration-test.yml
  changelogs/fragments/fix_771.yaml
  plugins/module_utils/network/nxos/facts/legacy/base.py
  tests/integration/targets/nxos_facts/tests/common/interface_facts.yaml
Labels: bug, safe to test

#853 Prepare release 8.0.0
  CHANGELOG.rst
  changelogs/changelog.yaml
  changelogs/fragments/add_restore_support.yaml
  changelogs/fragments/fix_771.yaml
  changelogs/fragments/trivial.yaml
Labels: skip-changelog, safe to test
